@model CleanShirt.WareHouseSystem.ViewModels.OrderViewModel

<div class="modal fade" id="checkModal" data-backdrop="static"
     data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Picked</th>
                        </tr>
                    </thead>
                    <tbody>

                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td><input class="checkbox" type="checkbox" name="checked" value="checked"><br></td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="button" value="Close" class="btn btn-default" data-dismiss="modal" />
                <input type="button" onclick="deliverOrder(@Json.Encode(Model))" value="Deliver" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>
