@model List<CleanShirt.WareHouseSystem.ViewModels.OrderViewModel>
<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">Warehouse</h1>
</div>
<hr />


<div id="partialView"></div>