@model List<CleanShirt.WareHouseSystem.ViewModels.OrderViewModel>
<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">Warehouse</h1>
</div>
<hr />
<div class="row">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table class="table table-striped custab">
                <thead>
                    @*<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>*@
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Ordered Date</th>
                        <th class="text-center">Delivered</th>
                        <th>Action</th>
                        @* class="text-center" *@
                    </tr>
                </thead>
                <tbody id="partialView"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="checkListForm"></div>