@model List<CleanShirt.WebShop.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">CleanShirt Webshop</h1>
</div>

<hr />
<div id="partialView"></div>
