@model List<CleanShirt.WebShop.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">Orderstatus</h1>
</div>

<hr />

<div class="row">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table id="order-table" class="table table-striped custab">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Ordered Date</th>
                        <th>Products</th>
                        <th class="text-center">Delivered</th>
                        <th class="text-center">Billed</th>
                    </tr>
                </thead>
                <tbody id="orderPartialView"></tbody>
            </table>
        </div>
    </div>
</div>