@model List<CleanShirt.BillingSystem.ViewModels.OrderViewModel>

<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">Billing system</h1>
</div>
<hr />

<div id="partialView"></div>