@model List<CleanShirt.BillingSystem.ViewModels.OrderViewModel>

<div class="jumbotron">
    <h1 style="font-family: 'Josefin Sans', sans-serif;" class="text-center">Billing system</h1>
</div>
<hr />

<div class="row">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1">
            <h4 class="text-center">Sales Report</h4>

            <div class="col-md-5 col-sm-6 col-xs-6 col-md-offset-2" style="overflow: hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-xs-8 col-sm-8">
                            <h4 class="text-center">From</h4>
                            
                            <div id="datetimepicker-from">
                                <input id="from-date" data-format="yyyy-MM-dd hh:mm:ss" type="text" hidden />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-5 col-xs-6 col-sm-6 " style="overflow: hidden;">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-xs-8 col-sm-8">
                            <h4 class="text-center">To</h4>
                            
                            <div id="datetimepicker-to">
                                <input id="to-date" data-format="yyyy-MM-dd hh:mm:ss" type="text" hidden/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <button class="btn btn-success col-md-offset-5 col-md-3" onclick="testFunc()">Get Report</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row col-md-10 col-md-offset-1 custyle">
            <table id="billing-table" class="table table-striped custab">
                <thead>
                @*<a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>*@
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Total Price</th>
                    <th>Ordered Date</th>
                    <th>Products</th>
                    <th class="text-center">Delivered</th>
                    <th class="text-center">Billed</th>
                    <th>Action</th>
                    @* class="text-center" *@
                </tr>
                </thead>
                <tbody id="partialView"></tbody>
            </table>
        </div>
    </div>
</div>


<div id="reportListView"></div>
